<%- include('partials/header') %>
    <div class="container-fluid" style="padding: 1rem;">
        <div class="container">
            <form action="/invop_bc" method="post">
                <h2 class="text-center" name="hd" id="hd" value="Invoice Options By Client">Invoice Options By Client</h2>
                <br>
                <br>
                <br>
                <label for="inpcl" class="form-label" style="font-weight: bold;">Select Client</label>
                <select name="inpcl" id="inpcl" class="form-control">
                    <%var i = 0%>
                    <%for(i=0;i<r.length;i++){%>
                        <option value="<%=r[i].clientsid%>"><%=r[i].cname%></option>
                    <%}%>
                </select>
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="container text-center">
        <a href="/" class="btn btn-primary btn-lg">Go Home</a>
        <a href="/invoice" class="btn btn-primary btn-lg">Go Back</a>
    </div>



<%- include('partials/footer') %>