<%- include('partials/header') %>
    <div class="container-fluid text-center" style="padding: 1rem;">
        <h2>Utility Panel Options:</h2>
        <div class="container-fluid text-center" style="padding: 1rem;">
            <div class="row justify-content-md-center">
                <div class="col-sm-3"  style="padding: 1rem;">
                    <form action="/newinv" method="get">
                        <button type="submit" class="btn btn-primary btn-lg">New Invoice</button>
                    </form>
                </div>
                <div class="col-sm-3"  style="padding: 1rem;">
                    <form action="/editinv" method="get">
                        <button type="submit" class="btn btn-primary btn-lg">Edit Invoice</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <a href="/" class="btn btn-primary btn-lg">Go Home</a>
    </div>


<%- include('partials/footer') %>
